@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  line-height: 1.5!important;
  color: $body-text-color !important;
  background: #edeff2!important;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #274C77;
  background-image: linear-gradient(120deg, #274C77, #6096BA);
  margin: 0px !important;

  @include large {
    padding: 80px 96px !important;
  }

  @include medium {
    padding: 3rem 4rem!important;
  }

  @include small {
    padding: 2rem 1rem!important;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-weight: 700!important;

  @include large {
    font-size: 52px;
  }

  @include medium {
    font-size: 40px;
  }

  @include small {
    font-size: 28px;
  }
}

.project-name a {
  color: #fff!important;
  text-decoration: none !important;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  line-height: 1.5!important;

  @include large {
    font-size: 20px;
  }

  @include medium {
    font-size: 18px;
  }

  @include small {
    font-size: 16px;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 972px;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 16px;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 14px;
  }

  @include small {
    padding: 15px 26px;
    font-size: 14px;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 30px;
    font-weight: normal;
    color: $section-headings-color;
  }

  p {
    margin-bottom: 1em;
    text-align: center;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 40px !important;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;
  text-align: center;

  @include large {
    font-size: 16px;
  }

  @include medium {
    font-size: 14px;
  }

  @include small {
    font-size: 12px;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.row.cards {
  margin-bottom: 10px;
}

.card {
  padding: 20px 16px;
  min-height: 208px;
  text-align: center;
  border: 1px solid #c4ccd6;
  background: #fff;
  margin-bottom: 5px;
}

.card .title h3 {
    color: #4F5358;
    margin-top: 13px;
    font-weight: bold;
    font-size: 22px;
}

.card .logo {
    margin: 20px 0px 25px 0px;
    padding: 0px 5px;
}

.card .link {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 40px 0px 15px 0px;
    color: #337ab7 !important;
}

.main-content h2 span {
    background: #edeff2;
    padding: 0 15px;
}

.main-content h2:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.main-content h2 {
    font-size: 26px;
    margin: 40px 0px 40px 0px !important;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main-content > UL >li {
    margin-bottom: 10px;
}

.cards .col-xs-12 {
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-bottom: 15px;
}

.cards a {
    text-decoration: none !important;
}

.card .content {
    color: #606c71 !important;
}

img.border {
    border: 1px solid #ccc;
}

.shadow {
  	position:relative;
    border: none !important;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 0 0px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 0 0px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 0 0px rgba(0,0,0,0.1) inset;
}

.shadow:before, .shadow:after {
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
    box-shadow:0 0 15px rgba(0,0,0,0.4);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.shadow:after {
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.content p {
    font-size: 14px !important;
}
